body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}

.container {
    padding: 0;
    height: 100%;
}

header {
    vertical-align: center;
    margin: 0;
    padding: 0;
}


header img {
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}

header h1 {
    float: left;
    margin-left: 25vh;
    margin-top: 50px;
}

header label {
    float: right;
    margin: 0px;
    margin-left: 45px;
    margin-top: 50px;
}

.corpo {
    padding: 20px;
}

.corpo h2 {
    text-align: center;
}

.formulario {
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.tab th {
    text-align: center;
}

tr {
    text-align: center;
}
.pag{
    margin-right: 5px;
    margin-bottom: 15px;
}
.select {
    width: 40%;
}

.logo {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
}


#apelido{
    width: 300px;
}

.pedido{
    padding: 0;
}

#logologin{
  margin-left: 55px;
  height: 120px;
}

#logoTopo{
    height: 50px;
}